* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-attachment: fixed;
    background-color: rgb(201, 206, 206);
    background-image: url("../img/loules.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}